@import "variables";

.breadcrumbs-wrapper {
  margin-top: 10px;

  a {
    color: $link_color;
  }

  .breadcrumb {
    margin-bottom: 6px;

    .breadcrumb-item {
      font-size: 14px;
    }

    .active {
      padding-left: 5px;
    }
  }

  .breadcrumb-item + .breadcrumb-item::before {
    padding-right: 5px;
  }
}

.weather-title {
  font-size: 24px;
  font-weight: $font-weight_bold;
  margin: 8px 0 12px 0;
  line-height: 32px;
}

.card {
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
}

.forecast-card {
  padding: 20px 20px;
  max-width: calc(100% - 316px);

  &__wrapper {
    min-width: 694px;
    height: 551px;
    width: max-content;
  }

  &__scroll {
    overflow-x: auto;
    overflow-y: hidden;
  }

  .date__btn {
    width: auto;

    strong {
      font-size: 20px;
      font-weight: $font-weight_bold;
    }

    span {
      margin-left: 8px;
      color: $text__color_light;
      font-size: 16px;
      font-weight: $font-weight_light;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 22px;

    .last-update {
      color: $text__color_light;
      align-self: center;
      font-size: 12px;
    }

    .btn {
      color: #fff;
      background-color: $btn__color;
      font-size: 16px;
      padding: 6px 38px;
      border-radius: 8px;
    }
  }
}

.weather-details {
  margin-top: 16px;

  &__title {
    margin-bottom: 16px;
    font-size: 14px;

    span {
      margin-left: 8px;
      color: $text__color_light;
    }
  }

  .details-info {
    width: 52px;
  }
}

.details-info-wrapper {
  padding: 0 16px;
  width: auto;
}

.weather-details.precipitation, .weather-details.wind {
  margin-top: 30px;

  .details-info {
    height: 80px;
  }
}

.details-info {
  padding: 0;
  text-align: center;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__time {
    color: $text__color_light;
    font-size: 14px;
  }

  &__img {
    margin-top: 13px;
  }

  &__graph {
    font-size: 16px;
    color: $text__color_light;
    font-weight: $font-weight_base;

    .graph_top {
      color: $text__color_bold;
      margin-bottom: 4px;
    }

    .graph_bottom {
      max-height: 55px;
      min-height: 27px;
      border-top: 3px solid #3983FF;
      background: linear-gradient(180deg, rgba(57, 131, 255, 0.3) 0%, rgba(57, 131, 255, 0) 100%);
      display: flex;
      justify-content: center;
      align-items: self-end;
    }
  }
}

.graph_top small {
  font-size: 12px;
}

.sidebar-card {
  max-width: 300px;
  padding: 16px 12px;
}

.sidebar {
  max-width: 316px;
  padding-left: 16px;
  padding-right: 0;

  &__title {
    margin: 0;
    font-size: 20px;
    font-weight: $font-weight_bold;
  }
}

.news-item {
  display: flex;
  padding: 15px 0;

  .text-wrapper {
    padding-left: 12px;
  }

  &__tag {
    margin-bottom: 7px;
    font-weight: $font-weight_light;
    font-size: 12px;
    color: $link_color;
  }

  &__img {
    min-width: 80px;
    height: 80px;
    border-radius: 8px;
  }

  &__title h5 {
    font-weight: $font-weight_bold;
    line-height: 22px;
    color: $text__color_bold;
    font-size: 16px;
  }
}

@media (max-width: $width__desktop) {
  .breadcrumbs-wrapper {
    margin: 0;

    .breadcrumb {
      margin-bottom: 9px;
    }
  }

  .details-info {
    height: 175px;

    &__graph {
      .graph_top {
        margin-bottom: 13px;
      }
    }
  }

  .weather-details {
    margin-top: 13px;
  }

  .weather-details.precipitation {
    margin-top: 40px;
  }

  .weather-details.wind {
    margin-top: 60px;
  }

  .weather-title {
    margin: 9px 0 12px 0;
  }

  .forecast-card__wrapper {
    height: 626px;
  }

  .forecast-card {
    padding: 12px 20px 0 15px;
    max-width: unset;
    margin-bottom: 27px;

    &__footer {
      text-align: center;
      display: unset;

      .btn {
        width: 100%;
        padding: 11px 0;
        margin-top: 20px;
      }
    }
  }

  .news-item {
    padding: 12px 0;

    &__img img {
      width: 87px;
    }

    .text-wrapper {
      padding-left: 22px;
    }
  }

  .sidebar {
    max-width: unset;
    padding: unset;
  }

  .sidebar-card {
    max-width: unset;
    padding: 11px 14px 5px 12px;
  }

  .news-item__title h5 {
    line-height: 22px;
  }
}


