$main__bg_color: #3983FF;
$link_color: #0B63EA;
$text__color_bold: #1C2130;
$text__color_light: #7F8FAC;
$btn__color: #367CF2;
$font-weight_bold: 700;
$font-weight_base: 500;
$font-weight_light: 400;
$width__desktop: 1023px;
